<!Doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title> Angular 9 Pagination Example>
    </title>
  </head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<body>
  <button class="btn btn-primary" (click)=submit()>Show Users</button>
  <div *ngFor="let d of data | paginate: { itemsPerPage: 10, currentPage: page }" >
    <p>"userId" = {{ d.name.first }}</p>
     <p><img src="{{d.picture.medium}}"/></p>
    
    <hr>
  </div>
  <pagination-controls (pageChange)="page = $event" class="float-right"></pagination-controls>
</body>
</html>
